@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom styles for react-tabs */
.react-tabs__tab-list {
  border-bottom: 1px solid #ddd;
  margin: 0 0 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #ddd;
  color: black;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 640px) {
  .react-tabs__tab {
    padding: 6px 10px;
    font-size: 14px;
  }
}
