.cart-image{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}